.dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    .dropdownTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ff6060;
        padding: 12px 20px;
        border-radius: 7px;
        transition: all 0.2s;
        font-size: 24px;
        font-weight: 700;
        color: white;
    }
    .dropdownTitle {
        margin: 0;
    }
    .btnValeurs {
        border: none;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        background-color: transparent;
        color: white;
        transition: transform 0.3s;
    }
    .btnValeurs.btnOpen {
        transform: rotate(-180deg);
    }
    .dropdownText {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: #f6f6f6;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        overflow: hidden;
        transition: all 200ms;
        height: 0px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 30px 20px;
            margin: 0;
            li {
                font-size: 18px;
                list-style: none;
            }
        }
    }

    @media (max-width: 460px) {
        .dropdownTop {
            font-size: 13px;
            padding: 3px 10px 3px 10px;
        }
        .btnValeurs img {
            width: 16px;
        }
        .dropdownText ul li{
            font-size: 11px;
        }
    }
}
