.mainLocation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    .details{
        display: flex;
        flex-direction: row;
        gap: 5%;
        width: 90%;
    }
    .dropdown ul {
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 0;
        margin: 0;
        li {
            text-align: left;
        }
    }
    .informations{
        display: flex;
        flex-direction: row;
        width: 90%;
        .informationsLeft{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            align-items: start;
            gap: 15px;
        }
        .informationsRight{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            align-items: end;
        }
    }
}
