.host{
    display: flex;
    gap: 10px;
    align-items: center;
    .hostName{
        color: #ff6060;
        font-size: 18px;
        font-weight: 500;
    }
    .hostPicture{
        object-fit: cover;
        height: 64px;
        width: 64px;
        border-radius: 32px;
    }
    @media (max-width: 460px) {
        width: 50%;
        justify-content: space-evenly;
        .hostName{
            font-size: 12px;
        }
        .hostPicture{
            height: 32px;
            width: 32px;
            border-radius: 16px;
        }
        
    }
}