.gallery {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5%;
    column-gap: 2.5%;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-bottom: 50px;
}