.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 68px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}
img {
    height: 100%;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 57px;
    height: 34px;
    text-align: right;
}
a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
}

li {
    text-align: right;
    list-style-type: none;
}
