.image-container{
    position: relative;
    height: 340px;
    width: 340px;
    overflow: hidden;
    border-radius: 10px;
}
.image-title {
    position: absolute;
    width: 300px;
    height: 52px;
    top: 268px;
    left: 20px;
    font-weight: 700;
    font-size: 18px;
    color: white;
}
.gallery img {
    object-fit: cover; 
}
.gallery {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
}
